<!doctype html>
<html>
  <head>
    <title>This and That</title>
    <link href="css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="css/button.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
    <script src="js/matchmedia.js"></script>
	<script src="js/picturefill.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>