img.left {
	float:left;
	padding-left: 5%;
	padding-right: 2%;
}

img.right {
	float: right;
	padding-right: 5%;
	padding-left: 2%;
}

img {
	width: auto;
	max-width: 47%;
	max-height: 70%;
}

a.button {
	background: white;
}

a.button:hover {
	color: black;
	text-decoration: none;
}

.funnybutton {
	position: absolute;
	left: 50%;
	margin-left: -100%;
}
